<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inter;lang=en" />

/*Change the font style on the Entire Document */
html{
  font-family: 'Inter';
  font-size: 1rem;
  color: #000000;
}

/*Change on the Body*/
body{
  font-family: 'Inter'; 
  font-stretch: condensed; 
  font-size: 1rem;
  color: black;
  background-color: #191919;
}

/* Links */

a:link{
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: slategray;
  background-color: transparent;
  text-decoration: underline;
}

/* Format of Citations */
.pub-authors {
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: small;
  line-height: 1.3;
}

.pub-title {
  margin-top: 0.5em;
  font-size: 1rem;
  line-height: 1.5;
}

.pub-citation {
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: small;
  line-height: normal;
}

/* Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154c79;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

li.title {
  float: left;
}

li.title a {
  display: block;
  font-weight: bold;
  font-stretch: condensed;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.menu-bar {
  float: left;
}

li.menu-bar a {
  content: "\f178";
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all .25s;
}

/* Change the link color to #111 (black) on hover */
li.menu-bar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  font-weight: bold;
}

/* .pub-item {
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
  width: 40em;
}

.pub-ol {
  margin-left: 0em;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
} */

footer{
    font-family:'Inter', sans-serif;
    font-size: 0.75rem;
    color: slategray;
}
